<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">Login Form</h2>
    
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5">

           

            <div class="mb-3">
              <input #myinput type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                placeholder="User Name">
            </div>
            <div class="mb-3">
              <input #password type="password"  class="form-control" id="password"placeholder="password">
            </div>
            <button type="button" class="btn btn-primary"(click)="listener(myinput.value, password.value)">Submit</button>
          </form>
        </div>

      </div>
    </div>
  </div>